@font-face {
   font-family: Gilroy;
   src: url(./Gilroy-medium.ttf);
}

@font-face {
   font-family: Gilroy;
   src: url(./Gilroy-Medium.ttf);
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Gilroy;';
}

:root {
   --a: 0;
}

*::selection {
   color: #fff;
   background-color: #000;
}

html,
body {
   width: 100%;
   height: 100%;
}

body {
   background-color: #f7f7f7;
}

#nav {
   /* background-color: blanchedalmond; */
   width: 100%;
   position: fixed;
   z-index: 99;
   padding: 25px;
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
}

#nav #nav-part2 {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 40px;

}

#links {
   padding: 10px;
}

#nav-part1 {
   /* background-color: red; */
   height: 82px;
   overflow: hidden;
}

#nav-part1 svg {
   display: block;
}

#nav-part2 #links a {
   text-transform: uppercase;
   text-decoration: none;
   color: #333;
   font-weight: 400;
   font-size: 14px;
   margin: 0 20px;
}

#icons {
   padding: 10px;
   border-radius: 50px;
   background-color: #f7f7f7;
}

#nav-part2 #icons i {
   font-size: 18px;
   margin: 0 20px;
   font-weight: 100;

}

#cursor {
   height: 180px;
   width: 180px;
   background-color: palegoldenrod;
   border-radius: 50%;
   position: fixed;
   transform: translate(-50%, -50%) scale(0);
}

#page1 {
   min-height: 100vh;
   position: relative;
   width: 100%;
   padding: 0 2vw;
   padding-top: 36vh;
}

#page1 h1 {
   font-size: 15.8vw;
   text-transform: uppercase;
   font-family: futura;
   line-height: 14vw;
   letter-spacing: -8px;
}

#pics {
   height: 100%;
   width: 100%;
   margin-top: 1vw;
   position: relative;
}

#pics img {
   height: 100%;
   width: 100%;
   object-fit: cover;

}

#pics #pic {
   padding: 3vw 2.2vw;
   position: relative;
   overflow: hidden;
}

#page2 {
   min-height: 130vh;
   width: 100%;
   position: relative;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 10px;
   margin-top: 0;
   padding: 0 2vw;

}

#page2 #box {
   height: 45vw;
   width: 30.5vw;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   /* background-color: red; */

}

#para {
   height: 100%;
   font-size: 1.3vw;
   margin-top: 0;
   padding-right: 10vw;
   line-height: 2vw;
   padding-top: 1.6vw;

}

#para #p1 {
   padding-top: 1.6vw;
}

#para #p2 {
   padding-top: 1.6vw;
}

#para #p3 {
   padding-top: 1.6vw;
}

#para #p4 {
   padding-top: 1.6vw;
}

.title {
   padding-top: 6vw;
   flex-direction: column;
}

#box h1 {
   height: 100%;
   margin-bottom: 0;
   font-size: 1.8vw;
   text-transform: uppercase;
   font-family: futura;
   line-height: 1.5vw;
   padding-right: 12vw;
   /* letter-spacing: -8px; */
}

#box img {
   height: 100%;
   object-fit: cover;
}

#page2 #para #links2 a {
   text-transform: uppercase;
   text-decoration: none;
   color: #333;
   font-family: "ABC Social Mono", "Lucida Sans", Tahoma, nonospaced;
   font-weight: 400;
   position: relative;
   padding-bottom: 8px;
   letter-spacing: 0.05em;
}

#para #links2 {
   padding-right: 16px;
   padding-top: 3vw;
}

.bar {
   margin-top: 5px;
   /* height: 5px; */
   /* position: absolute; */
   background-color: #000;
   top: 100%;
   left: 0px;
   width: 100%;
   height: 1px;
   background: currentColor
}

/* *::before, *::after {
   box-sizing: border-box;
   -webkit-tap-highlight-color: transparent;
}
*/
.bar:hover {

   transform-origin: 0% 0%;
   transition: linear ease-in;
   transform: translate(100px);

}

#nav-page3 {
   width: 100%;
   position: relative;
   /* z-index: 99; */
   padding-top: 60px;
   padding: 0 2vw;
   /* display: grid; */
   /* align-items: flex-start; */
   /* justify-content: space-between; */
}

#nav-page3 h2 {
   text-transform: uppercase;
   text-decoration: none;
   /* color: #333; */
   font-family: "ABC Social Mono", "Lucida Sans", Tahoma, nonospaced;
   font-weight: 400;
   font-size: 1.2vw;
   position: relative;
   letter-spacing: 0.05em;
}

#bar1 {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;

}

.bar2 {
   height: 0.5px;
   background-color: #000;
}

#page3 {
   min-height: 100vh;
   width: 100%;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 2vw;
   padding-bottom: 0;
   /* overflow-y: hidden; */
}

#page3 .elem {
   height: 100%;
   width: 31%;
   overflow: hidden;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
}

#page3 .elem img {
   height: 100%;
   width: 100%;
   object-fit: cover;
   scale: 1.1;
}

.elem .dets {
   height: 50px;
   border-radius: 40px;
   width: 80%;
   position: absolute;
   z-index: 9;
   transition: all 0.5s;

}

#dets1 {
   background-color: rgb(229, 240, 214);
}

#dets2 {
   background-color: rgb(245, 223, 207);
}

#dets3 {
   background-color: rgb(255, 255, 255);
}

.elem .dets:hover {
   margin-top: 220px;
   border-radius: 40px;
   height: 270px;
   cursor: pointer;
   --a: 1;
   transition: var(--a);
}

#dets-nav {
   display: flex;
   align-items: center;
   justify-content: center;
   justify-content: space-between;
   padding: 16px;
   position: relative;
}

#dets-nav a {
   text-decoration: none;
   text-transform: uppercase;
   color: #333;
   font-size: 1.1vw;
   letter-spacing: 0.06em;

}

#dot {
   height: 8px;
   width: 8px;
   border-radius: 50%;
   background-color: #000;
   margin: 0 10px;
}

#bold {
   font-weight: 700;
}

.dets-image {
   height: 135px;
   margin-top: 15px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   object-fit: cover;
   position: relative;
   top: 0;
   left: 0;
   opacity: var(--a);
   transition: all;

   /* z-index: 1; */

}

.dets-image img {
   /* margin: 0 30px; */
   /* padding: 1vw; */
   object-fit: cover;
   scale: 1.1;
}

.page3-child {
   margin-top: 0;
   min-height: 70vh;
   width: 100%;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1vw 2vw;
}

#child {
   height: 100%;
   overflow: hidden;
   padding-bottom: 8vw;


}

#child h1 {
   height: 100%;
   font-size: 4.5vw;
   text-transform: uppercase;
   font-family: futura;
   line-height: 4.5vw;
   padding-bottom: 4vw;

}

.child3 {
   padding-bottom: 2vw;
}

#child p {
   height: 100%;
   font-size: 1.5vw;
   line-height: 1.8vw;
   padding-top: 3vw;
   padding-right: 8vw;
   padding-left: 11vw;
}

#page4 {
   min-height: 120vh;
   width: 100%;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   flex-wrap: wrap;
}

.child {
   height: 55vh;
   width: 38vw;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
}

.child img {
   height: 100%;

}

/* Responsive Website code  */

@media (max-width:600px) {

   #nav {
      /* background-color: blanchedalmond; */
      width: 100%;
      position: fixed;
      z-index: 99;
      padding: 15px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
   }

   #nav #nav-part2 {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;

   }

   #links {
      padding: 10px;
      display: none;
   }

   #nav-part1 {
      /* background-color: red; */
      height: 67px;
      overflow: hidden;
   }

   #nav-part1 svg {
      display: block;
      height: 63px;
      width: 80px;
   }

   #nav #twogoodlogo {
      height: 40px;
      margin-left: -20px;
   }

   #icons {
      padding: 7px;
      border-radius: 50px;
      background-color: #f7f7f7;
   }

   #nav-part2 #icons i {
      font-size: 15px;
      margin: 0 20px;
      font-weight: 100;

   }


   #page1 {
      min-height: 70vh;
      width: 100%;
      padding: 0 3vw;
      padding-top: 25vh;

   }

   #page1 h1 {
      font-size: 15.5vw;
      letter-spacing: -3px;
   }

   #pics {
      height: 25vh;
      margin-top: 3vw;
   }

   #pics #pic {
      padding: 9.5vw 7.2vw;
      font-size: 4.5vw;
      position: relative;
   }

   #page2 {
      min-height: 140vh;
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column-reverse;


   }

   #page2 #box {
      min-height: 60vh;
      width: 100%;
      position: relative;
   }

   .title {
      height: 55vh;
      width: 88vw;
      padding-top: 5vw;
   }

   #para {
      height: 55vh;
      width: 88vw;
      font-size: 3.2vw;
      padding-right: 10vw;
      line-height: 4vw;
      padding-top: 1.6vw;
      display: flex;
      flex-direction: column
   }

   #box h1 {
      height: 100%;
      margin-bottom: 0;
      font-size: 4vw;
      text-transform: uppercase;
      font-family: futura;
      line-height: 3.5vw;
      padding-right: 35vw;
      padding-top: 40;
   }

   #page2 #box img {
      height: 75%;


   }

   #page2 #h2 {
      padding: 0 2.1vw;
      font-size: 7vw;
      line-height: 8vw;
      letter-spacing: 0.1vw;
   }

   #para {
      min-height: 160vh;
      font-size: 5vw;
      line-height: 6vw;
   }

   #page2 #box {
      min-height: 120vh;
      width: 100%;
      position: relative;
   }

   #page3 {
      min-height: 100vh;
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5vw 3vw;
      flex-direction: column;
   }

   #page3 .elem {
      height: 100vh;
      width: 100%;
      overflow: hidden;
      margin-bottom: 3vw;
   }

   #page3 .elem img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      scale: 1.2;
   }

   #page3 .elem .dets {
      height: 40px;
      border-radius: 50px;
      width: 70%;
      position: absolute;
      z-index: 9;
      background-color: palegoldenrod;

   }

   #dets-nav a {
      font-size: 3.5vw;
      align-items: center;
      justify-content: center;
      /* width: 70%; */
      /* overflow: hidden; */

   }

   #dets-nav {
      display: flex;
      justify-content: space-between;
      position: relative;
      padding-top: 2vw;
   }

   #page3 #elem2 #dets1 {
      background-color: rgb(229, 240, 214);
   }

   #page3 #elem1 #dets2 {
      background-color: rgb(245, 223, 207);
   }

   #page3 #elem3 #dets3 {
      background-color: rgb(255, 255, 255);
   }

   .page3-child {
      flex-direction: column;
      justify-content: center;
   }

   .page3-child #child2 {
      height: 38vh;
      font-size: 5.5vw;
      line-height: 6.5vw;
   }

   .page3-child #c2 {
      font-size: 7vw;
      padding: 0 22vw;
      line-height: 8.2vw;
      letter-spacing: 1vw;
   }

   .page3-child #c3 {
      font-size: 5.5vw;
      line-height: 6.5vw;
   }

   #page4 {
      min-height: 120vh;
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
   }

   .child {
      height: 55vh;
      width: 88vw;
      position: relative;
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   .child img {
      height: 100%;

   }
}